@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides&family=Edu+SA+Beginner:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D3D3D3;
}

.cabecalho {
    background: linear-gradient(90deg,rgba(23, 92, 13, 1) 0%, rgba(83, 189, 127, 1) 50%, rgba(10, 247, 101, 1) 100%);;
    padding: 10px;
}

.cabecalho nav {
    display: flex;
    gap: 80px;
}

.cabecalho nav a {
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    color: #FFF;
    transition: 150ms;
}

.menu:hover {
    color: #D3D3D3;
    font-size: 40px;
    transition: 250ms;
}

